{% extends 'base.html' %}
{% block title%}
	{{ tag.name }} | 简洁至上
{% endblock title%}
	{% block main %}
			<section class="archives">
				<h3 class="archives-format">未完待续...</h3>
				<h1 class="archives-format">{{ tag.name }}</h1>
				{% for post in post_list %}
					<article class="archives-post archives-format">
						<span class="post-date">07-01</span><a class="post-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
					</article>
				{% empty %}
				<h1>暂时没有标签</h1>
				{% endfor %}
			</section>
			<section class="pagination">
				<a class="current" href="">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
			</section>
	{% endblock main %}
