<!DOCTYPE html>
<html>
<head>
	<title>标签 | 简洁至上</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/tags.css">
	<script type="text/javascript" src="../js/style.js"></script>
</head>
<body>
<section id="container">
	<!-- header begin -->
	<header class="site-header light-green shadow-part">
		<section class="site-header-container center-align">
			<section class="header-container">
				<h1><a class="animate-color" href="../index.html">简洁至上</a></h1>
				<nav>
					<li><a href="../index.html">主页</a></li>
					<li><a href="tags.html">标签</a></li>
					<li><a href="../categories/categories.html">分类</a></li>
				</nav>
			</section>
			<section class="header-banner center-align">
				<div class="banner-content">
					<h1>LessIsBetter</h1>
				</div>
			</section>
		</section>
	</header>
	<!-- header end -->
	<!-- body begin -->
	<section class="site-container center-align">
		<header class="header">
			<h1>标签云</h1>
		</header>
		<section class="tags-body">
			<div class="tags-body-tags">
				<a href="tagPage.html">DataStructure</a>
				<a href="tagPage.html">DataBase</a>
				<a href="tagPage.html">BoringPart</a>
				<a href="tagPage.html">Algorithms</a>
				<a href="tagPage.html">FUN</a>
				<a href="tagPage.html">Important</a>
				<a href="tagPage.html">Music</a>
				<a href="tagPage.html">Life</a>
				<a href="tagPage.html">DataStructure</a>
				<a href="tagPage.html">DataBase</a>
				<a href="tagPage.html">BoringPart</a>
				<a href="tagPage.html">Algorithms</a>
				<a href="tagPage.html">FUN</a>
				<a href="tagPage.html">Important</a>
				<a href="tagPage.html">Music</a>
				<a href="tagPage.html">Life</a>
			</div>
		</section>
	</section>
	<!-- footer begin -->
	<footer id="footer" class="site-footer light-green shadow-part">
		<section class="footer-container">
			<div>Jamie Maple 制作</div>
			<div>Django1.11 + Python3 + sqlite3</div>
		</section>
	</footer>
	<!-- footer end -->
	<!-- body end -->
</section>
</body>
</html>