{% extends 'base.html' %}
{% block title%}
	分类 | 简洁至上
{% endblock title%}
	{% block main %}
			<header class="header">
				<h1>分类</h1>
			</header>
			<section class="categories-container center-align flex-box">
				{% for category in categories %}
				<div class="category">
					<a href="{{ category.get_absolute_url }}">
						<i class="icon-folder-empty"></i>
						<span>{{ category.name }}</span>
					</a>
				</div>
				{% empty %}
				<h1>暂时没有分类</h1>
				{% endfor %}
			</section>
	{% endblock main %}