{% extends 'base.html' %}
{% block title%}
	分类 | 简洁至上
{% endblock title%}
	{% block main %}
		<div class="site-container center-align">
			<header class="header">
				<h1>分类</h1>
			</header>
			<section class="categories-container center-align flex-box">
				{% for category in categories %}
				<div class="category"><a class="post-shadow" href="{{ category.get_absolute_url }}">{{ category.name }}</a></div>
				{% empty %}
				<h1>暂时没有分类</h1>
				{% endfor %}
			</section>
		</div>
	{% endblock main %}