{% extends 'base.html' %}
	{% block main %}
			<section class="posts clearfix">
			{% for post in post_list %}
				<article class="container-posts post-shadow">
					<header class="post-header">
						<a href="{{ post.get_absolute_url }}" class="post-title">{{ post.title }}</a>
					 	<div class="post-header-meta">
							<span class="meta-datetime"><a>{{ post.pubdate }}</a></span>
							<span>|</span>
							<span class="meta-category"><a href="categories.html">{{ post.cate }}</a></span>
						</div>
					</header>
					<div class="post-content">{{ post.content | safe }}</div>
					<footer class="post-footer">
						<a href="{{ post.get_absolute_url }}" class="animate-color">阅读全文 »</a>
					</footer>
				</article>
			{% empty %}
				<h1>暂时还没有发布的文章！</h1>
			{% endfor %}
			</section>

			<section class="pagination">
				<a class="current" href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
			</section>
	{% endblock main %}