{% extends 'base.html' %}
{% block title%}
	{{ post.title }} | 简洁至上
{% endblock title%}
{% block main %}
	<article class="post-page post-shadow">
			<header class="post-header">
				<h1>{{ post.title }}</h1>
				<div class="post-meta">
					<span class="meta-datetime"><i class="icon-calendar-empty"></i><a>发布于 {{ post.pubdate|date:"y/m/d" }}</a></span>
					<span>|</span>
					<span class="meta-category"><i class="icon-folder-empty"></i><a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></span>
				</div>
			</header>
			<div class="post-body">
				{{ post.content | safe }}
			</div>
			<footer class="post-footer">
				<div class="post-tags">
					{% for tag in tags %}
						<a class="tag" href="{{ tag.get_absolute_url }}">
							<i class="icon-tag"></i>
							{{ tag.name }}
						</a>
					{% endfor %}
				</div>
				<div class="post-nav">
					{% if post.next %}
					<div class="nav-left"><a href="{{ post.next.get_absolute_url }}"><i class="icon-left-open"></i>{{ post.next.title }}</a></div>
					{% endif %}
					<span class="span-divider"></span>
					{% if post.previous %}
					<div class="nav-right"><a href="{{ post.previous.get_absolute_url }}">{{ post.previous.title }}<i class="icon-right-open"></i></a></div>
					{% endif %}
				</div>
			</footer>
		</article>
{% endblock main %}