{% extends 'base.html' %}
{% block title%}
	{{ post.title }} | 简洁至上
{% endblock title%}
{% block main %}
	<article class="post-page post-shadow">
			<header class="post-header">
				<h1>{{ post.title }}</h1>
				<div class="post-meta">
					<span class="meta-datetime"><a>{{ post.pubdate }}</a></span>
					<span>|</span>
					<span class="meta-category"><a href="categories.html">Category</a></span>
				</div>
			</header>
			<div class="post-body">
				{{ post.content | safe }}
			</div>
			<footer class="post-footer">
				<div class="post-tags">
					<a href="">tag</a>
					<a href="">tag</a>
				</div>
				<div class="post-nav">
					<div class="nav-left"><a href="">< left</a></div>
					<span class="span-divider"></span>
					<div class="nav-right"><a href="">right ></a></div>
				</div>
			</footer>
		</article>
{% endblock main %}