<!DOCTYPE html>
<html>
<head>
	<title>分类 | 简洁至上</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/archive.css">
	<script type="text/javascript" src="../js/style.js"></script>
</head>
<body>
<section id="container">
	<!-- header begin -->
	<header class="site-header light-green shadow-part">
		<section class="site-header-container center-align">
			<section class="header-container">
				<h1><a class="animate-color" href="../index.html">简洁至上</a></h1>
				<nav>
					<li><a href="../index.html">主页</a></li>
					<li><a href="../tags/tags.html">标签</a></li>
					<li><a href="categories/categories.html">分类</a></li>
				</nav>
			</section>
			<section class="header-banner center-align">
				<div class="banner-content">
					<h1>LessIsBetter</h1>
				</div>
			</section>
		</section>
	</header>
	<!-- header end -->
	<!-- body begin -->
	<section class="site-container center-align">
			<section class="archives">
				<h3 class="archives-format">未完待续...</h3>
				<h1 class="archives-format">2017</h1>
				<article class="archives-post archives-format">
					<span class="post-date">07-01</span><a class="post-title" href="../postPage.html">Title</a>
				</article>
				<article class="archives-post archives-format">
					<span class="post-date">07-01</span><a class="post-title" href="../postPage.html">Title</a>
				</article>
				<article class="archives-post archives-format">
					<span class="post-date">07-01</span><a class="post-title" href="../postPage.html">Title</a>
				</article>
				<article class="archives-post archives-format">
					<span class="post-date">07-01</span><a class="post-title" href="../postPage.html">Title</a>
				</article>
				<article class="archives-post archives-format">
					<span class="post-date">07-01</span><a class="post-title" href="../postPage.html">Title</a>
				</article>
			</section>
			<section class="pagination">
				<a class="current" href="">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
			</section>
	</section>
	<!-- footer begin -->
	<footer id="footer" class="site-footer light-green shadow-part">
		<section class="footer-container">
			<div>Jamie Maple 制作</div>
			<div>Django1.11 + Python3 + sqlite3</div>
		</section>
	</footer>
	<!-- footer end -->
	<!-- body end -->
</section>
</body>
</html>