/* posts begin */
	/* post-models */
.posts .container-posts{
	height: 20%;
	width: 20%;
	float: left;
	position: relative;
	border-bottom: none;
	text-align: center;
	margin: 40px 40px;
	padding: 30px 20px;
	text-align: left;
}

	/*post_header part*/
.posts .post-header .post-title{display: inline-block;position: relative;font-size: 26px;font-weight: 400;margin-bottom: 10px}
.posts .post-header div{margin-bottom: 10px}
.posts .post-header div span{margin:5px;}
		/* post_header anmiate */
.container-posts .post-header .post-title::before{
	content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.container-posts .post-header .post-title:hover::before{
	visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}
	/*post_content part*/
.posts .post-content{
	line-height:25px;
	margin-bottom: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
	/*post_footer part*/
.posts .post-footer{font-size: 15px;font-weight: 300}
/* posts end */