/*site-init*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
section, div, nav{display: block}
nav, ul{list-style: none}
li{display: inline-block}
@font-face{
	font-family: 'Lato';
	src: url('../font/Lato-Regular.ttf');
}
/*begin*/
/*body and container*/
body{position: relative;font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;}
#container{height: auto;}
a{text-decoration: none;color: black;display: inline-block}
.center-align{margin: auto}
.site-header-container{width: 80%}
.site-container{width: 70%}
                                /*******************
                                **site-header part**
                                *******************/
.site-header .header-container{display: block;height: 30px;padding: 20px;}
.site-header .header-container h1{float: left;font-size: 25px;}
.header-container nav{float: right;}
.header-container nav li{margin: 6px 0 0 15px}
.site-header .header-banner{height: 150px;padding: 20px;}
.header-banner .banner-content{margin: 20px 20px;}
.header-banner .banner-content h1{font-size: 35px;}
                                /******************
                                **site-posts part**
                                *******************/
.site-container{position: relative;margin-top: 80px;padding:0 40px 150px;background-color: #fff;}
.post-shadow{
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(202,203,203,0.5);
	-webkit-box-shadow: 0 0 10px rgba(202,203,203,0.5);
	-moz-box-shadow: 0 0 10px rgba(202,203,203,0.5);
	-o-box-shadow: 0 0 10px rgba(202,203,203,0.5);
}
.site-container .header h1{font-weight: bold;font-size: 30px;text-align: center}
                                /*******************
                                **site-footer part**
                                *******************/
.site-footer{
	clear: both;
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0;
	left: 0;
	margin-top: 100px;
	padding: 20px 0;
	text-align: center;
}
/* clear float */
.clearfix::after{content: " ";visibility: hidden; display: block;clear: left;height: 0;}
/* pagination begin */
.site-container .pagination{
	text-align: center;
	margin-top: 120px;
	border-top: 1px solid #eee;
}
.pagination a{
	padding: 10px;
	margin: 0 10px;
	border: 1px solid white;
	border-radius: 2px;
}
.pagination .current{
	color: white;
	background-color: black;
	border: 1px solid black;
}
                            /*******************************
                            **color and shadow choose part**
                            ********************************/
.shadow-part{box-shadow: 1px 1px 40px rgba(202,203,203,0.4);}
/*****************
**animation part**
*****************/
/* color animation */
.animate-color{transition: color .4s ease-out}
.animate-color:hover{color: #BDC6B8;transition: color .1s ease-in;}
/* border-bottom animate */
.pagination a:not(.current){transition: border-color 0.2s ease-in}
.pagination a:not(.current):hover{border-color:black;transition: border-color 0.4s ease-in}
/* pagination end */
/* nav color and bgColor */
.header-container nav li a{padding: 5px 10px;border-radius: 2px; border: 1px solid black;transition: all .2s ease-out .1s;}
.header-container nav li a:hover{background-color: #000;color: #fff;transition: all .2s ease-out .1s;}
/* posts animation */

/*end*/